.button-filters {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 0;
  margin-bottom: 72px;
}

.button-list {
  margin-right: 24px;
}

.button-list:hover,
.button-list:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.button-list:last-child {
  margin-right: 0;
}

.button {
  display: inline-block;
  font-family: inherit;
  cursor: pointer;
  text-align: center;
  border: 1px solid transparent;
  font-weight: 700;
  font-size: 16px;
  border-radius: 4px;
  letter-spacing: 0.04em;
  transition: color var(--transition), background-color var(--transition);
}

.button.primary {
  color: var(--white-color);
  background-color: var(--accent-color);
  line-height: 1.19;
  padding: 16px 32px;
}

.primary:hover,
.primary:focus {
  color: var(--white-color);
  background-color: var(--button-activ-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button.filters {
  color: var(--accent-color);
  background-color: var(--light-bgc-color);
  border-color: var(--light-text-color);
  line-height: 1.5;
  padding: 8px 16px;
}

.button.filters:hover,
.button.filters:focus {
  color: var(--white-color);
  background-color: var(--button-activ-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}