

@media screen and (max-width: 1199px) {
  .section-indent {display: none;}
}



.section-indent {
  padding-top: 0;
}

.card-set {
  display: flex;
}

.card-list {
  margin-right: 24px;
}

.card-list:last-child {
  margin-right: 0;
}

// card-list - section advantages customers


