@media screen and (max-width: 767px) {
  .footer-input {
    margin-bottom: 16px;
  }

  .footer-label {flex-direction: column; }

}



  .footer-label {
    display: flex;
    // flex-direction: column;
  }

.footer-button {
  display: flex;
  gap: 16px;
  width: 165px;
  height: 40px;
  font-family: inherit;
  cursor: pointer;
  text-align: center;
  border: 1px solid transparent;
  font-weight: 500;
  font-size: 16px;
  border-radius: 4px;
  letter-spacing: 0.04em;
  transition: background-color var(--transition);
  padding: 8px 24px;
  align-self: center;
}

// .footer-label {
//   display: flex;
// }


.footer-button.primary {
  color: var(--white-color);
  background-color: var(--accent-color);
  line-height: 1.5;
}

.footer-button.primary:hover {
  background-color: var(--button-activ-color);
}

.footer-form {
  display: block;
}

.footer-input {
  color: var(--white-color);
  width: 100%;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  border-radius: 4px;
  padding-left: 16px;
  transition: border-color var(--transition);
  
}

.footer-input:focus {
  border-color: var(--button-activ-color);
}

.footer-input::placeholder {
  font-size: 12px;
  line-height: 20;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}



@media screen and (min-width: 768px) {
  .footer-input {
    width: 264px;
  }

.footer-form {
  margin-left: 108px;
}

  .footer-label {
   
    gap: 24px;
  }

}



@media screen and (min-width: 1200px) {

  .footer-form {
    margin-left: 80px;
  }

  .oll-footer-form {
  display: flex;

  }


}



// .footer-form {
//   display: block;
//   width: 453px;
//   height: 80px;
//   margin-left: 80px;
// }

//* .footer-button {
//   display: flex;
//   gap: 16px;
//   /* align-self: center; */
//   width: 165px;
//   height: 40px;
//   font-family: inherit;
//   cursor: pointer;
//   text-align: center;
//   border: 1px solid transparent;
//   font-weight: 500;
//   font-size: 16px;
//   border-radius: 4px;
//   letter-spacing: 0.04em;
//   transition: background-color var(--transition);
//   padding: 8px 24px;
// }

// .footer-label {
//   display: flex;
//   justify-content: space-between;
// }

// *.footer-button.primary {
//   color: var(--white-color);
//   background-color: var(--accent-color);
//   line-height: 1.5;
// }

// *.footer-button.primary:hover {
//   background-color: var(--button-activ-color);
// }

// *.footer-input {
//   color: var(--white-color);
//   width: 264px;
//   height: 40px;
//   border: 1px solid rgba(255, 255, 255, 0.3);
//   background-color: transparent;
//   border-radius: 4px;
//   padding-left: 16px;
//   transition: border-color var(--transition);
// }

// *.footer-input:focus {
//   border-color: var(--button-activ-color);
// }

// *.footer-input::placeholder {
//   font-size: 12px;
//   line-height: 20;
//   letter-spacing: 0.04em;
//   color: rgba(255, 255, 255, 0.6);
// }