.head {
  border-bottom: 1px solid rgba(46, 47, 66, 0.08);
  /* position: fixed; */
  width: 100%;
  top: 0;
  left: 0;
  /* z-index: 1; */
  /* background-color: var(--white-color); */
}

.logo {
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 77px;
}
.web {
  color: var(--accent-color);
  transition: color var(--transition);
}

.studio {
  color: var(--dark-text-color);
  transition: color var(--transition);
}

a:hover span,
a:focus span {
  color: var(--accent-color);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
  // height: 70px;
}


@media screen and ( max-width:767px) {
  .site-nav {
    display: none;
  }
  .contacts {
    display: none;
  }
  .mobile-menu-open {
    background-color: transparent;
    border: none;
    padding: 0;
  }
}

// *thablet

@media screen and (min-width:768px) {
  .mobile-menu-open {display: none;}
  
  .header {
    display: flex;
    align-items: center;
    height: 70px;
    // padding-top: 38px;
    // padding-bottom: 38px;
  }

  .main-nav {
    display: flex;
  }
  
  .site-nav {
    display: flex;
    align-items: center;
  }

  .site-nav .item:not(:last-child) {
    margin-right: 40px;
  }
  
  .site-nav .link {
    display: block;
    // padding-top: 24px;
    // padding-bottom: 24px;
    color: var(--dark-text-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    transition: color var(--transition);
  }

  .site-nav .link.current {
    color: var(--accent-color);
  }
  
  .site-nav .link:hover,
  .site-nav .link:focus {
    color: var(--accent-color);
  }
  
  .item {
    position: relative;
  }

  .current::after {
    display: inline-block;
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    left: 0px;
    top: 45px;
    background: var(--button-activ-color);
    border-radius: 2px;
  }

  .contacts > a {
    color: var(--primary-text-color);
    font-style: normal;
    // padding-top: 24px;
    // padding-bottom: 24px;
    margin-right: 16px;
    transition: color var(--transition);
  }

.contacts a:hover,
.contacts a:focus {
  color: var(--accent-color);
}

}

// *desktop

@media screen and (min-width:1200px) {
  .contacts > a:last-child {
  margin-right: 0;
}

.contacts {
  display: inline-flex;
  margin-left: auto;
}



}


// .site-nav {
  /* position: relative; */
//   display: flex;
// }



// .contacts > a:last-child {
//   margin-right: 0;
// }


// .contacts {
//   display: inline-flex;
//   margin-left: auto;
// }