.team-list {
  display: flex;
  flex-wrap: wrap;
}


  .team-list .card-list {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    // margin-bottom: 72px;
  }

  // .team-list .card-list:last-child {
  //   margin-bottom: 0;
  // }

  .our-team {
  background-color: var(--light-bgc-color);
  text-align: center;
  margin-bottom: 0;
  height: auto;
}

  .our-team .card-list {
  background-color: var(--white-color);
}

.team-list > .card-list {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}


@media screen and (max-width: 767px) {

  .team-list .card-list:last-child {
    margin-bottom: 0;
  
  }

}




  @media screen and (min-width: 768px)  and (max-width: 1199px){
    .team-list .card-list {
      margin-bottom: 40px;
      
    }

    .team-list .card-list:nth-child(n+3) {
      margin-bottom: 0;
    }

.team-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  
}

.team-list .card-list {
  margin-left: 0;
  margin-right: 0;
}

  }
  





// .our-team {
//   background-color: var(--light-bgc-color);
//   text-align: center;
//   margin-bottom: 0;
//   height: auto;
// }

// .team-list {
//   display: flex;
// }

// .team-list > .card-list {
//   box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
//     0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
//   border-radius: 0px 0px 4px 4px;
// }

// .our-team .card-list {
//   background-color: var(--white-color);
// }