:root {
  --button-activ-color: #404bbf;
  --dark-text-color: #2e2f42;
  --accent-color: #4d5ae5;
  --success-color: #31d0aa;
  --white-color: #ffffff;
  --subtle-text-color: #8e8f99;
  --primary-text-color: #434455;
  --light-text-color: #e7e9fc;
  --light-bgc-color: #f4f4fd;
  --slate: rgba(142, 143, 153, 1);
  --modal-color: #fcfcfc;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}